#sound-picker-container nav {
    width: fit-content;
}

#sound-picker {
    background-color: var(--dark-color-fg);
    align-self: center;
    display: flex;
    overflow-x: auto;
}

#sound-picker > * {
    margin: auto;
}

#picker-dropdown .dropdown-item {
    word-wrap: break-word;
}

#no-of-choices-wrapper {
    width: max-content;
}

#no-of-choices-wrapper > * {
    width: 10rem;
}

.ipa-td {
    height: var(--ipa-button-size);
    width: var(--ipa-button-size);
    border: 5px solid transparent !important;
}

#begin-button, #begin-button-disabled, #soundSetPicker {
    width: 20rem;
}

.ipa-button {
    height: var(--ipa-button-size);
    width: var(--ipa-button-size);
    text-decoration: none;
    line-height: 1.5;
    text-align: center;
    /*--bs-btn-border-radius: 0.375rem !important;*/
}
.ipa-button.btn-link {
    color: var(--dark-color-main-hl) !important;
}
.ipa-button.btn-link:hover {
    color: var(--dark-color-main) !important;
}
.ipa-button.btn-link:active {
    color: var(--dark-color-main-sh) !important;
}

#consonant-tablist nav {
    display: inline-block;
    overflow: scroll;
}

tr {
    width: 100%;
}

#sound-picker {
    max-width: fit-content;
}

#sound-picker .tab-pane {
    max-width: 100%;
}

#sound-picker .tab-pane.show {
    display: inline-flex;
}

td:nth-child(odd) {
    background-color: var(--dark-color-stg);
}

table {
    display: table;
}

.swiper-slide {
    width: unset !important;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--dark-color-neu);
    opacity: 1;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 0.1;
}

.swiper-pagination-bullet {
    color: var(--dark-color-neu-hl);
}
.swiper-pagination-bullet-active {
    background-color: var(--dark-color-main-hl);
    opacity: 0.1;
}

@media only screen and (max-width: 768px) {
    #menu-container {
        padding-top: unset !important;
    }
    #main-buttons, #main-buttons .btn, #picker-dropdown {
        /*max-width: calc((100vw - var(--closed-sidebar-width)) * 0.75);*/
        flex-grow: 0;
    }
    #main-buttons .btn, #picker-dropdown .dropdown-item {
        display: inline;
        white-space: normal;
    }
}
