<div class="container-fluid d-flex justify-content-center dropdown px-3 my-4">
    <button class="btn btn-lg btn-primary dropdown-toggle" role="button" id="soundSetPicker" data-bs-toggle="dropdown" aria-expanded="false">Pick set of sounds</button>
    <ul class="dropdown-menu" aria-labelledby="soundSetPicker">
        <li><a class="dropdown-item" [routerLink]="['/ipa']" [queryParams]="{set: 'v'}">vowels</a></li>
        <li><a class="dropdown-item" [routerLink]="['/ipa']" [queryParams]="{set: 'p'}">pulmonic consonants</a></li>
        <li><a class="dropdown-item" [routerLink]="['/ipa']" [queryParams]="{set: 'a'}">all</a></li>
    </ul>
</div>
<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque exercitationem quam quidem, deleniti in voluptatibus inventore reprehenderit iure quas dolorum voluptatum nostrum modi optio quaerat aut, beatae ipsum quod aliquid! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eius similique, ea illum, eum vero amet expedita nisi inventore, animi veniam quos debitis velit. Debitis fuga dolore vitae earum harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad odit distinctio fugit. Modi voluptatem corporis deleniti dicta. Voluptates fuga doloremque, nihil fugiat deserunt libero temporibus ducimus sint praesentium commodi quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea laborum deserunt fugiat repudiandae, similique expedita natus consectetur possimus aperiam libero enim hic. Magnam voluptate ullam hic? Non inventore voluptatibus magni.</p>
</div>
<!-- <div class="container-fluid d-flex justify-content-center px-3 my-3">
    <a class="btn btn-lg btn-primary mx-3" type="button" href="ipa">Begin</a>
    <button class="btn btn-lg btn-secondary mx-3" type="button">Izađi</button>
</div> -->