<div class="container d-flex justify-content-center dropdown px-3 my-4">
    <button class="btn btn-lg btn-primary dropdown-toggle" role="button" id="soundSetPicker" data-bs-toggle="dropdown" aria-expanded="false">Pick set of sounds</button>
    <ul class="dropdown-menu" aria-labelledby="soundSetPicker">
        <li><a class="dropdown-item" [routerLink]="['/ipa']" [queryParams]="{set: 'v'}">vowels</a></li>
        <li><a class="dropdown-item" [routerLink]="['/ipa']" [queryParams]="{set: 'p'}">pulmonic consonants</a></li>
        <li><a class="dropdown-item" [routerLink]="['/ipa']" [queryParams]="{set: 'a'}">all</a></li>
    </ul>
</div>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia molestias aut voluptas tempora incidunt vel enim delectus, quis minima esse rerum dignissimos ab at, laborum magnam rem sed dicta voluptate.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, aliquid fuga vero id veritatis quas autem corporis facere non recusandae quam dignissimos maiores expedita ut quibusdam, omnis ex odit et?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus error veniam sapiente, laborum expedita veritatis neque magnam aspernatur consequuntur autem ratione, deleniti officiis nesciunt perferendis ad numquam. A, officia ea?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, rerum! Cum provident doloremque corporis laudantium, magnam voluptatum officia quae, qui quaerat quasi consequuntur ex quisquam nisi sit asperiores, ipsam saepe?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit aut voluptatum, cumque neque tempore in quo quibusdam fuga dicta sed, recusandae expedita enim tenetur, dolorum adipisci quisquam iste eveniet consequuntur.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptate ea vel eos repellat voluptas quidem sint tempore incidunt dolores. Impedit rerum nam tempora similique doloribus temporibus architecto corrupti suscipit?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugit eveniet quas libero aperiam reiciendis, exercitationem laboriosam, inventore omnis dolore ipsam molestiae debitis, modi doloribus autem expedita provident neque. Nesciunt!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe tempora animi recusandae numquam similique repellendus quod ratione quae, commodi nulla magni sapiente dolores earum, repudiandae temporibus fugit eos voluptates culpa!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam autem impedit consequuntur recusandae perspiciatis aliquid deleniti ipsam numquam, veniam, sed ratione alias quas, deserunt non aspernatur. Id itaque ducimus veritatis.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam aut qui debitis illo, fugiat inventore nihil, blanditiis animi esse veniam alias officiis voluptatem pariatur similique assumenda adipisci ducimus nisi? Impedit.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos ducimus officia, atque illum laborum laudantium ut facilis voluptatem quibusdam id error, sint modi et. Veritatis id ad minus mollitia quo.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dignissimos libero eos repudiandae! Reiciendis ad vel animi minus sed temporibus reprehenderit sequi doloribus odit, voluptas non pariatur eos repellendus esse.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut necessitatibus velit voluptates maxime quam dolorem eius, voluptatem accusamus ex ipsa quos, modi ipsum voluptatum facere quaerat ratione expedita similique ab.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam cumque architecto laboriosam, maiores suscipit ex inventore esse repellendus, pariatur eos, exercitationem totam. Amet reiciendis sed corrupti culpa libero, nam porro?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi voluptatem assumenda magni sed quas culpa nihil hic possimus ab, perspiciatis, tempora ea. Quaerat libero iusto commodi ut quae unde?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat saepe corrupti odio voluptas quae ipsam adipisci asperiores delectus eligendi, totam sapiente repudiandae, beatae neque architecto atque illo pariatur praesentium itaque.
</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita fuga officia qui veritatis commodi saepe, sapiente laudantium, quasi fugiat facilis quidem amet aut, veniam itaque consectetur? Praesentium cum nostrum sapiente?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque debitis pariatur ullam laboriosam. Natus possimus magnam praesentium placeat eligendi porro doloribus deserunt, iure tenetur odio. Non repellat vel facilis nobis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, quis ducimus! Consectetur, aspernatur praesentium! Eos consequuntur architecto odit suscipit fugiat harum dignissimos doloribus iusto, hic incidunt repellendus odio ipsa pariatur.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum fugit asperiores blanditiis libero iste dolores nobis mollitia officia. Libero numquam natus corrupti labore? Dolore perspiciatis vel nam eum voluptatem rerum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aut aspernatur itaque! Optio dolorem obcaecati praesentium officia enim voluptas, ut natus numquam qui provident, molestiae fugit ipsam harum saepe vel!
</p>