<div class="container-fluid d-flex justify-content-center border-end bg-light px-3" id="sidebar">
    <hr class="divider"/> 
    <div class="container">
        <div class="pt-3 pb-4">
            <h2>Useful links</h2>
            <hr/>
            <a href="https://www.internationalphoneticassociation.org/content/full-ipa-chart">Official full IPA chart</a>
            <hr/>
            <a href="https://www.ipachart.com">Interactive IPA chart</a>
            <hr/>
            <a href="https://en.wikipedia.org/wiki/International_Phonetic_Alphabet">IPA Wikipedia article</a>
        </div>
    </div>
</div>