:root{
    --link-width: 15rem; /* maybe remove the constant and make the width automatic in the future? */
    --sidebar-wrapper-width: 18rem;
}

#sidebar-wrapper{
    height: 100%;
    display: flex;
}

#menu-icon{
    float: left;
}

#sidebar{
    width: var(--link-width);
    min-height: 100%;
    margin: 0;
}


@media (max-width: var(--sidebar-wrapper-width)){
    #sidebar-wrapper.toggle{
        width: 100vw;
        margin-right: 0;
        position: absolute;
        left: 0;
        right: 0;
    }
}

hr.divider{
    margin: 0;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: --bs-dark;
    margin: 6px 0;
}