.row {
    margin:0px !important; 
}

.main-content>* {
    padding-left: 0px;
    padding-right: 0px;
}

:host{ /* all of those are necessary for app-root to have full height and header not to be too tall */
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

header{
    flex: 0 0 auto;
}

main{ /* all of those are necessary for main content to have full height */
    flex: 1 1 auto;
    display: flex;
    position: relative;
    max-width: 100vw;
    height: 100%;
}

.wrapper{
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    width: 100%;
}

#content{
    align-items: center;
    color: var(--dark-color-text) !important;
    flex: 1 1 auto;
    margin: 0 var(--closed-sidebar-width);
    overflow: hidden;
}

#logo {
    width: calc(2vw + 5rem);
}

#title {
    font-size: calc(1.5vw + 1rem);
}