<header class="bg-light d-flex justify-content-start align-items-center">
  <img src="./assets/logo_header.png" id="logo" class="img-fluid mx-3" width="100" alt="App logo">
  <div class="wrapper mx-3 mb-0 d-flex flex-column align-items-start">
    <h1 id="title" class="m-0">fonolearn</h1>
    <h2 id="subtitle" class="m-0" i18n>an IPA learning app</h2>
  </div>
</header>
<main role="main">
  <div class="wrapper">
    <app-useful-links></app-useful-links>
    <div class="container-fluid px-3 pb-3" id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
