.row {
    margin:0px !important; 
}

.main-content>* {
    padding-left: 0px;
    padding-right: 0px;
}

:host{ /* all of those are necessary for app-root to have full height and header not to be too tall */
    display: flex;
    flex-flow: column;
    height: 100%;
}

header{
    flex: 0 1 auto;
}

main{ /* all of those are necessary for main content to have full height */
    flex: 1 1 auto;
    display: flex;
}

.wrapper{
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: stretch;
}

#content{
    align-items: center;
    color: white;
    flex: 1 1 auto;
}

@media only screen and (max-width: 768px){ /* so that there is enough space for a closed sidebar on mobile */
    #content{
        max-width: calc(100% - var(--closed-sidebar-width));
        margin-right: var(--closed-sidebar-width);  
    }
}