<div class="container-fluid justify-content-center">
    <div class="d-flex justify-content-center text-light my-4">
        <p class="mb-0">Guessed: {{ guessedCount }}/{{ totalCount }}</p>
    </div>
    <div class="d-flex justify-content-center my-3">
        <button class="btn btn-lg btn-primary mx-1" *ngIf="guessed" (click)="newGuess()">Proceed</button>
        <!-- <button class="btn btn-lg btn-primary" type="button" *ngIf="!listened" (click)="playSound()">Listen</button> -->
        <button class="btn btn-lg btn-secondary mx-1" type="button" *ngIf="listened" (click)="playSound()">Listen again</button>
    </div>
    <div class="align-content-center my-4">
        <div class="d-flex justify-content-center mb-3" *ngIf="listened">
            <button class="btn ipa mx-3 py-1" [ngClass]="{'btn-primary' : clicked[0] == 0, 'btn-danger' : clicked[0] == 1, 'btn-success' : clicked[0] == 2}" type="button" (click)="checkAnswer(0)">{{ randomPhones[0].symbol }}</button>
            <button class="btn ipa mx-3 py-1" [ngClass]="{'btn-primary' : clicked[1] == 0, 'btn-danger' : clicked[1] == 1, 'btn-success' : clicked[1] == 2}" type="button" (click)="checkAnswer(1)">{{ randomPhones[1].symbol }}</button>
            <button class="btn ipa mx-3 py-1" [ngClass]="{'btn-primary' : clicked[2] == 0, 'btn-danger' : clicked[2] == 1, 'btn-success' : clicked[2] == 2}" type="button" (click)="checkAnswer(2)">{{ randomPhones[2].symbol }}</button>
        </div>
        <div class="d-flex justify-content-center text-light mt-3" *ngIf="tried">
            <p class="mb-0" *ngIf="guessed">Correct!</p>
            <p class="mb-0" *ngIf="!guessed">Try again...</p>
        </div>
    </div>
    <div class="d-flex justify-content-center my-3">
        <a class="btn btn-lg btn-link mx-3" type="button" href="">Exit</a>
    </div>
</div>
