<div class="container-xs py-3 mx-3" id="menu-icon" *ngIf="!isMobile; else mobile">
    <div [@changeIcon]="line1State" class="bar1 bg-dark mx-2 my-1"></div>
    <div [@changeIcon]="line2State" class="bar2 bg-dark mx-2 my-1"></div>
    <div [@changeIcon]="line3State" class="bar3 bg-dark mx-2 my-1"></div>
</div>
<ng-template #mobile>
    <div class="dropdown-triangle-wrapper" [@changeIcon]="arrowState">
        <svg class="dropdown-triangle">
            <polygon points="0,0 20,0 10,10" />
        </svg>
    </div>
</ng-template>
