/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'DejaVu Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    /*background-color: black;*/
    /*color: white;*/
    /*text-align: center;*/
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

body{
    flex: 1 1 auto;
    display: flex;
}

.ipa{
    font-family: 'DejaVu Serif';
}

#content{
    /* max-width: calc(100wv - 15rem); */
    /* position: relative; */
    align-items: center;
    color: white;
}
