/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'DejaVu Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    /*background-color: black;*/
    /*text-align: center;*/
}

body{
    color: white !important;
}

header{
    color: #212529;
}

.ipa{
    font-family: 'DejaVu Serif';
}

.ipa-button {
    height: 35px;
    width: 35px;
    text-align: center;
}
