/* You can add global styles to this file, and also import other style files */
:root{
    /* made using Mozilla color picker */
    --dark-color-bg: #12171B; /* background */
    --dark-color-fg: #27343E; /* foreground */
    --dark-color-text: #DDE3E7;
    --dark-color-main: #0A6CAD;
    --dark-color-main-hl: #0C8ADD;
    --dark-color-main-sh: #074E7D;
    --dark-color-pos: #0AAD4B; /* positive */
    --dark-color-pos-hl: #0CDD60;
    --dark-color-pos-sh: #077D36;
    --dark-color-neg: #AD0A1A; /* negative */
    --dark-color-neg-hl: #DD0C21;
    --dark-color-neg-sh: #7D0713;
    --dark-color-neu: #535D64; /* neutral */
    --dark-color-neu-hl: #6A777F;
    --dark-color-neu-sh: #3C4348;
    --dark-color-stg: #535D6410; /* semi-transparent gray */

    --light-color-bg: #DDE3E7;
    --light-color-fg: #E4E5E6;
    --light-color-text: #18191A;

    --bs-border-radius: 0.1825rem;
    --bs-border-radius-sm: 0.125rem;
    --bs-border-radius-lg: 0.25rem;
    --bs-border-radius-xl: 0.5rem;
    --bs-border-radius-2xl: 1rem;

    --closed-sidebar-width: calc(35px + 3rem);
    --link-width: 15rem; /* maybe remove the constants and make the width automatic in the future? */
    --open-sidebar-width: calc(var(--closed-sidebar-width) + var(--link-width));
    --closed-dropdown-height: 3rem;
    --open-dropdown-height: 12rem;
    --dropdown-width: 40rem;

    --ipa-button-size: 3rem;
}

body{
    font-family: 'DejaVu Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
    color: var(--dark-color-text) !important;
    min-height: 100vh;
}

.ipa{
    font-family: 'IPA Kiel', 'Doulos SIL', 'DejaVu Serif';
    text-align: center;
    font-size: 1.5rem;
}

header{
    color: var(--light-color-text);
}

main {
    text-align: center;
    color: var(--dark-color-text) !important;
    height: 100%;
}

.bg-light {
    background-color: var(--light-color-bg) !important;
}

.bg-dark {
    background-color: var(--dark-color-bg) !important;
}

.btn {
    border: none;
    --bs-btn-border-radius: 0;
}

.btn-primary {
    background-color: var(--dark-color-main) !important;
    border: 5px solid transparent !important;
}
.btn-primary:hover {
    border: 5px solid var(--dark-color-main-hl) !important;
}
.btn-primary:focus {
    border: 5px solid var(--dark-color-main-sh) !important;
}

.btn-success {
    background-color: var(--dark-color-pos) !important;
    border: 5px solid transparent !important;
}
.btn-success:hover {
    border: 5px solid var(--dark-color-pos-hl) !important;
}
.btn-success:focus {
    border: 5px solid var(--dark-color-pos-sh) !important;
}

.btn-danger {
    background-color: var(--dark-color-neg) !important;
    border: 5px solid transparent !important;
}
.btn-danger:hover {
    border: 5px solid var(--dark-color-neg-hl) !important;
}
.btn-danger:focus {
    border: 5px solid var(--dark-color-neg-sh) !important;
}

.btn-secondary {
    background-color: var(--dark-color-neu) !important;
    border: 5px solid transparent !important;
}
.btn-secondary:hover {
    border: 5px solid var(--dark-color-neu-hl) !important;
}
.btn-secondary:focus {
    border: 5px solid var(--dark-color-neu-sh) !important;
}

.btn-link {
    color: var(--dark-color-main) !important;
    border: 5px solid transparent !important;
}
.btn-link:hover {
    color: var(--dark-color-main-hl) !important;
}
.btn-link:focus {
    border: 5px solid var(--dark-color-main-sh) !important;
}

.guess-btn {
    width: 3rem;
    height: 3rem;
}

.alert-danger {
    background-color: var(--dark-color-neg-hl);
    border-color: var(--dark-color-neg-sh);
    border-radius: 0;
    color: var(--light-color-text);
}

#ipa-vspace {
    height: 1rem;
}

.dropdown-menu {
    border-radius: 0;
}
.dropdown-menu.bg-dark {
    border-color: var(--dark-color-neu-hl);
    background-color: var(--dark-color-bg);
    color: var(--dark-color-text);
}
.dropdown-menu.bg-dark .dropdown-item {
    color: var(--dark-color-text);
}
.dropdown-menu.bg-dark .dropdown-item:hover {
    background-color: var(--dark-color-neu-hl);
}

.nav-tabs {
    color: var(--dark-color-main);
    --bs-nav-tabs-border-color: var(--light-color-bg);
    --bs-nav-tabs-border-radius: 0;
    --bs-nav-tabs-link-hover-border-color: var(--dark-color-main-hl);
    --bs-nav-tabs-link-active-color: var(--dark-color-text);
    --bs-nav-tabs-link-active-bg: var(--dark-color-fg);
    --bs-nav-tabs-link-active-border-color: var(--dark-color-main-sh);
}

.form-control {
    border-radius: 0;
}
.bg-light .form-control {
    border-color: var(--dark-color-neu-hl);
    background-color: var(--light-color-fg);
    color: var(--light-color-text);
}
.bg-dark .form-control {
    border-color: var(--dark-color-neu-sh);
    background-color: var(--dark-color-fg);
    color: var(--dark-color-text);
}

.bg-light .form-text {
    color: var(--dark-color-neu-sh);
}
.bg-dark .form-text{
    color: var(--dark-color-neu-hl);
}

a {
    color: var(--dark-color-main);
}

a:hover {
    color: var(--dark-color-main-hl);
}

a:active {
    color: var(--dark-color-main-sh);
}

nav ul {
    border-bottom: none !important;
}

.nav-link.active {
    border-color: var(--dark-color-text) !important;
    color: var(--dark-color-text) !important;
    border-bottom: none !important;
}
